[submodule "sub"]
	path = sub
	url = git@github.com:yuanee/SubCode.git
[submodule "experiment"]
	path = experiment
	url = git@github.com:yuanee/ExperimentalDesign.git
[submodule "accelerate"]
	path = accelerate
	url = git@github.com:yuanee/Acceleration_Optimal.git
[submodule "graphnew"]
	path = graphnew
	url = git@github.com:yuanee/GraphTransfer.git
